<!-- <div class="mission-container">
  <div class="fixed-top mb-5">
    <div class="top-header d-flex align-items-center">
      
      <button class="back-button btn text-white" (click)="navigateToActivityTitle()">
        <i class="fa-solid fa-angle-left arrow-icon"></i> Back
      </button>
      <span class="points">{{ points }} pts</span>
      <div class="dev d-flex justify-content-between">
        <i class="fas fs-3 fa-user-circle profile-icon" (click)="navigateToProfile()"></i>
        <i class="fas fs-3 fa-bell" (click)="showNotifications()"></i>
      </div>
    </div>
  </div>
  <div class="content">
    <h2>Choose a Track and Play its Tasks</h2>
    <div *ngIf="missions.length > 0" class="track-list">
      <div class="track-item" *ngFor="let mission of missions" (click)="storeMissionId(mission.BX_Mission_ID_PK)">
        <div class="header-content">
          <h3 [innerHTML]="mission.BX_Mission_Name_EN"></h3>
          <p [innerHTML]="mission.BX_Mission_Locaion_Text_EN"></p>
        </div>
        <i class="fa-solid fs-4 fa-angle-right icon"></i>
      </div>
      <footer>
        <p>Powered by <strong>Be Game</strong></p>
      </footer>
    </div>
  </div>
</div> -->
<div class="mission-container" style="background-image: url('assets/img/background.png'); background-size: cover;background-repeat: no-repeat;">
  <div class="row">
    <div class="col-12">
      <div class="fixed-top mb-5">
        <div class="top-header d-flex align-items-center">
          <div class="image">
            <img src="assets/img/logo.png" alt="City Centre Almazza" class="img-fluid w-75">
          </div>
          <span class="text-white h6">City Center Almazza</span>
        </div>
        <header class="header">
          <div class="left-section">
            <button class="back-button btn text-white" (click)="navigateToActivityTitle()">
              <i class="fa-solid fa-angle-left arrow-icon"></i> Back
            </button>
          </div>
          <div class="right-section">
            <span class="points">{{ points }} pts</span>
            <div class="dev d-flex justify-content-between w-25">
              <i class="fas fs-3 fa-user-circle profile-icon" (click)="navigateToProfile()"></i>
              <i class="fas fs-3 fa-bell" (click)="showNotifications()"></i>
            </div>
          </div>
        </header>
      </div>
      <h2>Choose a Track and Play its Tasks</h2>
    <div *ngIf="missions.length > 0" class="track-list">
      <div class="track-item" *ngFor="let mission of missions" (click)="storeMissionId(mission.BX_Mission_ID_PK)">
        <div class="header-content">
          <h3 [innerHTML]="mission.BX_Mission_Name_EN"></h3>
          <p [innerHTML]="mission.BX_Mission_Locaion_Text_EN"></p>
        </div>
        <i class="fa-solid fs-4 fa-angle-right icon"></i>
      </div>
        <p class="powered-by text-center m-3">Powered by Be Game</p>
      </div>
    </div>
  </div>
</div>
