<div class="container" style="background-image: url('assets/img/background.png'); background-size: cover;background-repeat: no-repeat; background-position: center;">
  <div class="header" >
    <img src="assets/img/logo.png" alt="City Centre Almazza" class="logo">    </div>
  <h1>Activity Title</h1>
  <p>Editorial text space for brand to describe and promote each activity or game</p>
  <div class="activity-icon">
    <img src="assets/img/Activations.jpeg" alt="Activity Icon">
  </div>
  <div class="button-group m-4">
    <button type="submit" (click)="NavgaitetoMission()">

      <img src="assets/img/button.png" alt="Start the game" />
      <span class="button-text m-auto">Start Activity</span>
    </button>
       
 
</div>
  <p class="terms">
    By joining this game, you agree to BeGames <a href="#">Terms & Conditions</a> and <a href="#">Privacy Policy</a>
  </p>
  <footer>
    <p>Powered by <strong>Be Game</strong></p>
  </footer>
</div>

